services:
  - type: web
    name: banking-webapp
    runtime: node
    region: oregon
    plan: free
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: ORG_URL
        sync: false
      - key: CLIENT_ID
        sync: false
      - key: CLIENT_SECRET
        sync: false
      - key: SESSION_SECRET
        generateValue: true
      - key: BASE_URL
        sync: false
